:root {
  --main-color: #ffccc2;
  --button-color: #ff5c28;
  --second-color: #48001e;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
  font-family: "Tajawal", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* XLarge */
@media (min-width: 1440px) {
  .container {
    width: 1370px;
  }
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  transition: background-color 0.5s ease;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.scroll-active {
  background-color: #ffffff;
}
nav:hover {
  background-color: white;
}
nav ul {
  list-style: none;
  display: flex;
  font-size: 18px;
  padding: 0;
  color: var(--second-color);
  font-weight: 400;
}
ul li:first-child {
  margin-left: 20px;
}
nav ul li {
  margin-left: 40px;
}
.Drop {
  position: relative;
}
.Drop ul {
  -webkit-box-shadow: -1px 27px 48px -40px rgb(0 0 0 / 75%);
  -moz-box-shadow: -1px 27px 48px -40px rgb(0 0 0 / 75%);
  box-shadow: -1px 27px 48px -40px rgb(0 0 0 / 75%);
}

.d-1 ul {
  list-style: none;
  position: absolute;
  width: 900px;
  height: 250px;
  top: 25px;
  left: -250px;
  background-color: white;
  transition: 0.4s;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px 30px 0px;
  text-align: right;
  direction: rtl;
  display: none;
}
.d-2 ul {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 100px;
  top: 25px;
  left: -50px;
  background-color: white;
  transition: 0.4s;
  grid-template-columns: 1fr;
  padding: 50px 25px 10px;
  text-align: right;
  direction: rtl;
  display: none;
}
.d-1 ul li,
.d-2 ul li {
  transition: 0.4s;
}
.d-1:hover ul,
.d-2:hover ul {
  display: grid;
  cursor: initial;
}
nav ul li:hover {
  cursor: pointer;
  color: var(--button-color);
}
.d-1 ul li:hover,
.d-2 ul li:hover {
  padding-right: 8px;
}

li i {
  margin-right: 7px;
  padding-bottom: 5px;
}
nav .container img {
  width: 6%;
}

.sec-1 {
  padding: 70px 0px;
}

.sec-1 .container {
  display: flex;
}
.sec-1 .container .left-side {
  width: 65%;
}
.sec-1 .container .right-side {
  width: 35%;
  text-align: right;
  padding: 40px 0px 40px 30px;
  color: var(--second-color);
}

.sec-1 .container .right-side h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 0px;
}
.sec-1 .container .right-side p {
  font-size: 21px;
  font-weight: 500;
}
.sec-1 .container .left-side img {
  width: 100%;
}
.sec-1 .container .right-side .button {
  background-color: var(--button-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 30px;
  font-size: 20px;
  margin-top: 30px;
  font-weight: 500;
  transition: 0.4s;
}

.sec-1 .container .right-side .button:hover {
  background-color: #e35121;
  cursor: pointer;
}

.sec-2 {
  background-color: var(--second-color);
}
.sec-2 .container {
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-2 .container .head-section {
  text-align: center;
  color: var(--main-color);
}

.head-section .heading {
  font-size: 34px;
  margin-bottom: 18px;
  font-weight: 500;
}
.head-section .desc {
  font-size: 22px;
}

.sec-2 .grid-books {
  margin-top: 30px;
  width: 900px;
  height: 530px;
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px;
  grid-template-rows: 165px 165px 165px;
  gap: 25px;
  align-items: flex-start;
}
.outer img {
  width: 100%;
  transition: all 0.3s ease-out 0s;
}
.outer {
  padding: 20px;
  background-color: #6c334b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.o4 {
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
  padding: 40px;
  height: 76%;
}
.o5 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  padding: 40px;
  height: 164%;
}
.o7 {
  grid-column: 3;
}
.o9 {
  height: 73%;
}
.o9 img {
  width: 70%;
}
.outer img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.section-footer {
  margin-top: 50px;
  color: var(--button-color);
  font-weight: 700;
  font-size: 18px;
}
.section-footer i {
  margin-right: 8px;
}
